@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

header {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased; /* Better the font*/
}

body { 
	font: 400 14px Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
}

header {
	background: #181818;
	padding: 1.2em 0;
}

.caixa {
	max-width: 940px;
	margin: 0 auto;
}

.caixa h1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.caixa h1 img {
	max-height: 12em;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav li {
	margin: 0 0 0 2.5em; 
}

nav a {
	text-transform: uppercase;
	color: #f0f0f5;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #f0f0f5;
	text-decoration: underline;
}

.produtos {
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;

}

.produtos li:hover {
	border-color: #CCCCCC;
	border-style: dashed;
	border-width: 4px;
}

.produtos li:active {
	border-color: #CCCCCC;
}

.produtos li:hover h2 {
	font-size: 32px;	
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("../assets/general/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #f0f0f5;
	font-size: 13px;
	margin-top: 20px;
}

main {
	margin: 0 auto;
}

form {
	max-width: 940px;
	padding: 40px;
	margin: 0 auto;
}

form label, form legend {
	display: block;
	margin: 0 0 10px;
	font-size:20px;
}

#mensagem{
	resize: vertical;
}

.input-padrao {
	display: block;
	margin: 0 0 10px;
	padding: 10px 20px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: .5s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.1);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
	text-align: center;
}

/* CSS da p치gina inicial */
.banner {
	width: 100%;
	max-height: 69.5vh;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em; 
	clear: left;
}

.principal {
	padding: 1.2em 0;
	background: #FEFEFE;
	max-width: 940px;
	margin: 0 auto;	
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
	/*cima / direita / baixo / esquerda */
}

.mapa {
	padding: 1.2em 0;
	background: linear-gradient(#FEFEFE, #888888)
}

.mapa-conteudo {
	max-width: 940px;
	margin: 0 auto;	
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 1.2em 0;
	background: linear-gradient(#888888, #242624);
}

.conteudo-beneficios {
	max-width: 940px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.lista-beneficios li {
	text-align: center;
	line-height: 2em;
	font-size: 1.2em;
}

.itens:before {
	content: "游";
}

.itens {
	line-height: 1.5em;
}

.itens:nth-child(1) {
	font-weight: bold;
	font-size: 1.4em;
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 20px 0 black;
}

.imagem-beneficios:hover{
	opacity: 0.6; 
}

.video {
	max-width: 640px;
	margin: 1em auto;
}


/* TESTE PAIS E FILHOS
	Apenas primeiro p depois do main
main > p {
	background: red;
}

	Apenas pr칩ximo par치grafo depois da imagem
img + p {
	background: blue;
}
	Todos par치grafos ap칩s a img
img ~ p {
	backgroud: green;
}
	Todos os p da classe principal que n칚o tem o ID: missao
.principal p:not(#missao) {
	backgroud: yellow;
}

*/


@media screen and (max-width: 625px) {

	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produtos, form {
		width: auto;
	}

	form {
		margin: 5% 5%;
	}

	form label{
		font-size: 16px;
		margin: 2% 4% 4%;
	}
	
	.input-padrao {
		width: 80%;
		margin: 2.5% auto;
		padding: 2.5% 5%;
	}

	.enviar {
		width: 100%;
		align-content: center;
	}

	table {
		margin: 5% auto;
	}

	.produtos {
		padding: 20px 0;
	}

	.produtos li {
		display: block;
		width: 90%;
		margin: 0 auto 10px auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	nav ul {
		text-align: center;
		flex-flow: column wrap;
	}

	nav li {
		margin: 0;
		line-height: 2.8em;
	}

	nav a {
		font-size: 20px;
	}

	nav a:hover{
		color: #888888;
	}

	.principal p {
		margin: 0 1em 1em 1em;
	}

	.beneficios {
		padding: 1em;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}

	.lista-beneficios li {
		margin: 0 auto;
	}

	.imagem-beneficios {
		margin: 10px 0;
	}

}